@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

header h1 {
  margin: 0;
  margin-left: -10000px;
  height: 0;
}
/*
h1 {
  font-family: 'Lato', 400px, sans-serif;
}

h2 {
  font-family: 'Lato', 400px, sans-serif;
}

h3 {
  font-family: 'Lato', 400px, sans-serif;
}

h4 {
  font-family: 'Lato', 700px, sans-serif;
}

p{
  font-family: 'Lato', 400px, sans-serif;
} */
