@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700|Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

header h1 {
  margin: 0;
  margin-left: -10000px;
  height: 0;
}

header p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

img {
  max-width: 960px;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 36px;
  color: #175757;
  background-color:#9edbd3;
  height: 50px;
  display: flex;
  justify-content: left;
  padding: 10px;
}

h3, h4, p {
  margin: 5px;
  padding-left: 10px;
}

nav {
  max-width: 960px;
  height: 60px;
  background-color: #bce6e0;
}
nav a {
  display: inline-block;
  padding: 10px;
}
nav ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav li {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}

a {
  color: #175757;
}
a:visited {
  color: #175757;
}
a:hover {
  color: #282b2b;
}
a:active {
  color: #175757;
}

footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #bce6e0;
}
footer a {
  display: inline-block;
  padding: 10px;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer li {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}

#wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  /* grid-template-columns: (2, 1fr);
  grid-template-rows: (200px, 200px); */
  /* grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  overflow: visible;
  grid-template-areas:
  "about about"
  "education work-experience"
  "skills interests"; */
  /* display: grid;
  grid-template-columns: 2fr [content-start] 2fr [content-end];
  grid-template-rows: 500px [content-start] 500px [content-end];
  grid-column-gap: 20px;
  grid-row-gap: 0;
  max-width: 960px;
   */
}

#home {
  padding-bottom: 200px;
}

#about {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-bottom: 10px;
}
#education {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
#work-experience {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
}
#interests{
  margin-top: -100px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
#skills{
  margin-top: -300px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}
#contact {
  padding-bottom: 200px;
}
